plugin.dtd

<!ELEMENT plugin
  (name,class,version,dependencies,hooks, endpoints)>
<!ELEMENT class (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT version (#PCDATA)>
<!ELEMENT dependencies (#PCDATA)>

<!ELEMENT hooks 
  (hook)>
<!ELEMENT hook EMPTY>
<!ATTLIST hook 
  name CDATA ""
  callback CDATA ""
  >

<!ELEMENT endpoints (endpoint*)>
<!ELEMENT endpoint (argument*)>
<!ATTLIST endpoint
  path CDATA ""
  callback CDATA ""
  >
<!ELEMENT argument (#PCDATA)>